h1, h2, h3, h4, h5, h6, p {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 34px;
}

p {
  line-height: 25px;
  color: #5a5858;
}

.container {
  width: 100%;
  max-width: 84.5%;
  margin: 0 auto;
  padding: 0 15px;
}

section .wrapper {
  display: flex;
  align-items: center;
  margin-right: 49.9%;
  padding-bottom: 31px;
}
section .wrapper .heading {
  color: #a73232;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .wrapper .heading h1 {
  width: 320px;
}
section .wrapper .heading i.fa.fa-caret-right {
  font-size: 30px;
  margin-left: 42px;
  color: #a73232;
}
section .wrapper .heading i.fa.fa-caret-down {
  display: none;
}
section .wrapper .blank {
  background: #a73232;
  width: 100%;
  height: 2px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section .design {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .design .vl {
  position: relative;
  top: -100px;
  border-left: 2px solid #a73232;
  height: 300px;
}
.section .design .step-wapper {
  position: absolute;
}
.section .design .step-wapper .step {
  display: inline-block;
  border: 2px solid #a73232;
  border-radius: 50%;
  padding: 0 30px;
  background: #fff;
}
.section .design .step-wapper .step h1 {
  font-size: 35px;
  font-family: sans-serif;
  color: #a73232;
}
.section .content, .section .image {
  width: 38%;
  height: 300px;
}
.section:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1050px) {
  section .wrapper {
    margin-right: 0%;
    padding-bottom: 0px;
  }
  section .wrapper .heading {
    flex-direction: column;
    width: 100%;
  }
  section .wrapper .heading h1 {
    width: 100%;
    text-align: center;
  }
  section .wrapper .heading i.fa.fa-caret-right {
    display: none;
  }
  section .wrapper .heading i.fa.fa-caret-down {
    display: block;
    font-size: 30px;
  }
  section .wrapper .blank {
    display: none;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .section .design {
    position: absolute;
    top: -10px;
  }
  .section .design .vl {
    height: 200px;
    top: 0px;
  }
  .section .design .step {
    margin-left: 0px;
  }
  .section .content {
    margin-top: 200px;
  }
  .section .content, .section .image {
    width: 100%;
    height: auto;
    text-align: center;
  }
}